<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\TIC\Cordova\Puppy Love\PuppyLuv\PuppyLov.Services\TIC.PuppyLove.Location.ServiceHost\Logs\LocationService.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="\.yyyyMMdd\.\l\o\g" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- <layout type="log4net.Layout.XMLLayout"> -->

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[START]&#xD;&#xA;" />
        <param name="Footer" value="[END  ]&#xD;&#xA;" />
        <param name="ConversionPattern" value=" %date{ISO8601} %-5p [%t] %logger: %m%n%exception%n" />
      </layout>
    </appender>

    <!-- valid level values are OFF, FATAL,ERROR,WARN,INFO,DEBUG and ALL -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="TICPuppyLoveDBEntities" connectionString="metadata=res://*/TICPuppyLoveDataModel.csdl|res://*/TICPuppyLoveDataModel.ssdl|res://*/TICPuppyLoveDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ven-poc-db1,1433;Persist Security Info=True;initial catalog=POC1;User Id=poc1_app;Password=!POC1AppUser#$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="OutputLocation" value="C:\PLuv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="LogProvider" value="Log4Net"/>
    <add key="Log4NetProviderLogName" value="LocationApp"/>
    <add key="Log4NetProviderConfigFile" value="C:\TIC\Cordova\Puppy Love\PuppyLuv\PuppyLov.Services\TIC.PuppyLove.Location.ServiceHost\web.config"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="log4net.Internal.Debug" value="true" />

    <!-- Location -->
    <add key="LocationUrl" value="http://localhost:56895/Location.svc" />
    <add key="LocationUrlCloud" value="http://52.1.4.38/Location/Location.svc" />
    <add key="RemoveLocationOp" value="RemoveLocationNewt" />
    <add key="UpdateLocationOp" value="UpdateLocation" />
    <add key="GetNearestNeighborsOp" value="GetNearestNeighbors"/>

    <!-- Profile Service -->
    <add key="ProfileServiceUrl" value="http://52.1.4.38/Profile/Profile.svc" />
    <add key="GetProfileDataOp" value="GetProfileData"/>

  </appSettings>

</configuration>